@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Kaushan+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100vw;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    clear: both;    
}

#title-bar {
    background-color: #f2f29b;
    overflow: hidden;
    width: 100%;

}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: x-large;
    margin: 0 10px;
    text-align: center;
}

#nav-bar {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#navigation-menu {
    list-style-type: none;
    direction: rtl;
    clear: both;
}

a.nav-link {
    display: block;
    float: left;

    text-align: center;
    color: white;
    background-color: #1e4b80;
    text-decoration: none;
    min-height: 40px;

    height: 80%;
    margin: 1%;
    width: 23%;

}

a.nav-link:hover {
    background-color: gray;
}

a.nav-link:active {
    transform: translateY(5px);
}

a.open {
    text-decoration: underline;
}

.wallpaper {
    background: linear-gradient(rgba(250, 250, 250, 0.9), rgba(249, 254, 222, 0.8),
            rgba(250, 250, 250, 0.9)), url('../img/dragon.png');
    height: 100%;

}

/* index.html - introduction article */
.portrait-heading {
    height: 30vh;
    width: auto;
    float: none;
    background-color: #c0c0c0;
    text-align: center;
    margin-top: 5px;
}

.portrait-heading img {
    height: 30vh;
    width: auto;
    margin: auto;
}

.portrait-text {
    border: 1px solid yellow;
    height: 30vh;
    background-color: #fafae1;
    flex: 1 1 auto;
    overflow: scroll;
}

.portrait-text>p {


    height: auto;
}

/* index.html - phylosphy section */
#philosophy {
    background-color: #1e4b80;
    clear: left;
    height: auto;
    color: lightyellow;
    font-family: 'Kalam', cursive;
}

#quotes {
    background-color: #1e4b80;
    color: lightyellow;
    font-family: 'Kalam', cursive;

    height: auto;
}

#philosophy h2, #quotes h2 {
    font-size: 33px;
}

#philosophy p, #quotes p {
    flex: 1 1 auto;
    height: 100%;
    font-size: large;
}

#quotes p {
    margin: 10px;
    line-height: 20px;
    text-align: justify;
}

/* movies.html */
.movie-collection {
    width: inherit;
    height: auto;
    text-align: center;
}

.movie-box {
    width: 300px;
    height: 500px;
    font-family: 'Kaushan Script', cursive;
    display: inline-block;
    overflow: hidden;
}

.movie-box img {
    width: auto;
    height: 70%;

}

.movie-box p {
    font-size: small;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* mma.html - Martial Arts Page */
#impact-on-mma {
    display: block;
}

#impact-on-mma h1 {
    float: none;
    text-align: center;
    font-family: 'Kalam', cursive;
}

#impact-on-mma h2 {
    float: none;
    text-align: center;
    font-family: 'Kalam', cursive;
}

#impact-on-mma p {
    margin: 5px;
}

/* books.html */
#bookorder_form label {
    color: white;
    line-height: 30px;    
}

.input-field {
    border: 1px solid black;
    display: inline;    
    width: 300px;
    height: 30px;
}


.submit-button {
    background-color: #1e4b80;
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    border-color: aliceblue;
    border: 3px solid;
}

.submit-button:hover {
    background-color: white;
    color: #1e4b80;
}

.submit-button:active {
    transform: translateY(5px);
}

#bookorder-form > fieldset {
    border: 2px groove;
    margin: 10px;
    padding: 10px;
    background-color: #0d6cab;
}

legend {
    background-color: white;
    color: #1e4b80;
    padding: 10px;
    border-style: groove;
    border: 5px solid #1e4b80;
    border-radius: 10px;
}

/* footer */
footer {
    background-color: rgb(92, 86, 86);
    color: white;
    height: 5vh;    
    bottom: 0;
}

/* media query for tablets */

@media only screen and (min-width: 640px) {
    h1 {
        margin: 0 20px;
        text-align: left;
        float: left;
    }

    #nav-bar {        
        float: none;
    }

    #navigation-menu {
        clear: none;
    }

    .portrait-heading {
        height: 30vh;
        width: auto;
        float: left;
        clear: left;
        background-color: #c0c0c0;
    }

    #portrait-text {
        display: flex;
        flex: 1 1 auto;
        height: 15%;
        float: left;
    }

    a.nav-link {
        display: block;
        text-align: center;
        float: left;
        background-color: darkblue;
        color: white;
        width: 17%;
        margin: 10px;
        min-height: auto;
        height: 80%;
    }

    a.nav-link:hover {
        background-color: gray;
    }

    a.nav-link:active {
        transform: translateY(5px);
    }

    #philosophy {
        background-color: #1e4b80;
        clear: left;
        height: auto;
    }

    #video-1 {
        float: right;
        /* clear: both; */
    }

    /* movies page - mma.html */
    #movie-box {
        display: block;
    }

    /* books page - books.html */
    #bookorder-form label {
        width:300px;
        display:inline-block;
    }

    footer {
        clear: both;
    }
}

/* media query for desktops */
@media screen and (min-width: 1200px) {
    body {
        width: 80vw;
        margin: 0 auto;
    }

    h1 {
        margin: 0 50px;
    }

    a.nav-link {
        width: 15%;
    }

}