/* Google Fonts - All fonts used in this project are imported from Google  */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Kaushan+Script&family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100vw;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    clear: both;
    z-index: 5;    
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: x-large;
    margin: 0 10px;
    text-align: center;
}


/* NAVIGATION BAR - Incomapasses the navigation menu and the main heading of a page*/
#nav-bar {
    background-color: #f2f29b;
    display: block;
    width: 100%;
    /* margin: 0 auto; */
    overflow: hidden;
}

#navigation-menu {
    list-style-type: none;
    direction: rtl;
    clear: both;
}
#navigation-menu li{
    width:25%;
    float: left;
}

a.nav-link {
    display: block;
    float: left;

    text-align: center;

    color: white;
    background-color: #1e4b80;
    border-radius: 5px;
    text-decoration: none;
    min-height: 40px;
    padding: 5px;

    font-size: 20px;

    height: 80%;
    margin: 1%;
    width: 80%;

}

/* Set margin to the icon to create gap between Text and icon */
i {
    margin-right: 10px;
}

/* The styling of the link when the mouse cursur is hovering over it */
a.nav-link:hover {
    background-color: gray;
}

/* The styling of the link when it is clicked upon */
a.nav-link:active {
    transform: translateY(5px);
}

/* The styling of the link in the navigation menu when the link represents the current page */
a.open {
    text-decoration: underline;
    background-color: #f2f29b;
    border: 1px solid #d1d106;
    color: #072241;
}

/* Background image for pages: movies, mma and books */
.wallpaper {
    background: linear-gradient(rgba(250, 250, 250, 1), rgba(249, 252, 232, 0.9),
            rgba(250, 250, 250, 1)), url('../img/dragon.webp');
    height: 100%;

}

/* ################### HOME PAGE - index.html ###################  */

/* # div container for the biography article # */
#biography-containter {
    background-color: #fafae1;     
}

#biography-heading {
    background-color: #fafae1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
/* Styling of the portrait image */
.portrait {    
    height: auto;
    width: 100%;
    display: block;
    float: none;
    margin: 10px;
}

/* General settings for the text in the biography article */
.biography-text {
    border: 1px solid white;
    height: 35vh;
    background-color: #fafae1;
    flex: 1 1 auto;
    overflow: scroll;
    padding: 5px;
    
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 20px;
}



.biography-text>p {
    font-size: large;
    padding: 10px;
    height: auto;
    text-align: justify;
}

/* index.html - phylosphy section */
#philosophy {
    background-color: #1e4b80;
    clear: left;
    height: auto;
    color: lightyellow;
    border: 5px solid #033b7a;

    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

/* Styling for the div container with the article on philosphy */
#philosophy h2 {
    background-color: #1e4b80;
    font-size: 33px;
    text-align: center;
}

/* styling for the div container for the article with Bruce Lee's famous quotes */
#quotes {
    background-color: #1e4b80;
    color: lightyellow;
    border: 5px solid #033b7a;

    font-family: 'Roboto', sans-serif;
    height: auto;
}

#quotes h2 {
    font-size: 33px;
    border-color: white;
    border-top: 1px;
    border-left: 1px;
    border-bottom: 3px;
    border-right: 3px;
    border-style: solid;
    background-color: #1e4b80;
    text-align: center;
}

#philosophy p,
#quotes p {
    flex: 1 1 auto;
    height: 100%;
    font-size: large;
    background-color: #001731;
    padding: 10px 20px;
}


#quotes p, #quotes iframe {
    border-style: solid;
    border-width: 5px;

    border-top-color: #889eb7;
    border-right-color: #355a84;
    border-bottom-color: #072241;
    border-left-color: #3b5e86;
}

#quotes p {
    margin: 20px;
    line-height: 20px;
    text-align: justify;
}

/* Set a margin for the iframe with the youtube video and adjust the video size to a smaller screen*/
#video-1 {
    margin: 20px;
    width: 270px;
}


/* ################### MOVIES PAGE -  movies.html ################### */

/* A div container with all the movies */
.movie-collection {
    width: inherit;
    height: auto;
    text-align: center;
}

/* A div container that contains a single movie */
.movie-box {
    margin: 20px;
    width: 300px;
    height: 700px;
    font-family: 'Kaushan Script', cursive;
    display: inline-block;
    overflow: hidden;
}

.movie-box img {
    width: auto;
    height: 50%;

}

.movie-box p {
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

/* ################### MARTIAL ARTS PAGE - mma.html ################### */

/* General settings for both articles on the page */
#impact-on-mma,
#jeet-kune-do-article {    
    display: block;
    font-family: 'Roboto', sans-serif;
}

#impact-on-mma footer {
    height: auto;
    width: 95%;
    margin: 0 auto;
}

#impact-on-mma header,
#jeet-kune-do-article header {
    display: table;
    height: auto;
    position: relative;
    z-index: 1;
}

#impact-on-mma h1,
#jeet-kune-do-article h1 {
    float: none;
    text-align: center;
    font-family: 'Kalam', cursive;
    vertical-align: middle;
}

#impact-on-mma h2,
#jeet-kune-do-article h2 {
    float: none;
    text-align: center;
    font-family: 'Kalam', cursive;
}

#impact-on-mma p,
#jeet-kune-do-article p {
    font-size: large;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

/* Image of a karate fighter that appears on the left side, at the top of the page */
/* Must be rotated to fit the bill */
#high-kick-left {
    display: block;
    float: left;
    margin-top: 20px;
    height: 30px;
    width: auto;
    transform: rotateY(180deg);
}

/* Image of a karate fighter that appears on the right side, at the top of the page */
#high-kick-right {
    display: block;
    float: right;
    margin-top: 20px;
    height: 30px;
    width: auto;
}

/* Image of the Ying-Yang symbol that appears on the left side in the header of the jeet-kune-do-article */
#ying-yang-symbol-left {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin-left: 30px;
}
/* Image of the Ying-Yang symbol that appears on the right side in the header of the jeet-kune-do-article */
#ying-yang-symbol-right {
    float: right;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin-right: 30px;
}

/* ################### BOOKS PAGE - books.html ################### */

/* div that contains all the articles on books */
#book-window {
    text-align: center;
    clear: both;
    font-family: 'Roboto', sans-serif;
}

.book-article {
    height: 100%;
}

.book-showcase {
    text-align: center;
    width: 300px;
    height: 970px;
    margin: 0 auto;
    overflow: scroll;

    font-size: large;
    display: inline-block;
    vertical-align: top;

    box-sizing: border-box;
    border-color: #033b7a;
    border-width: 2px;
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: dotted;
}

.book-showcase h2 {
    height: 100px;

}

/* the properties of the image of a book in a showcase */
.book-image {
    width: auto;
    height: 400px;
    overflow: hidden;
}

.book-showcase p {
    text-align: justify;
    padding: 5px 15px;
    position: relative;
}

/* A div that contains the description of a given book */
.book-description {
    height: 470px;
    position: relative;
    z-index: 1;
}

/* A Table that contains Prices and available formats of a given book. The table lives in the book description */
.book-description table {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0px;
}


.book-description table,
th,
td {
    background-color: #eaf0f741;
    text-align: center;
    border: 1px solid #0d4f7a;
    color: #033b7a;
    vertical-align: middle;
}

/* class used to turn slightly larger images to a small size of an icon */
.small-icon {
    width: 30px;
    height: auto;
}

/* ORDER FORM */
#bookorder-form {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

/* Labels for the input-elements */
#bookorder-form label {
    color: white;
    line-height: 30px;
}

/* Used by all input fields in the form except for the submit button */
.input-field {
    border: 1px solid black;
    display: inline;
    width: 270px;
    height: 30px;
}

/* Styles for the submit button */
.submit-button {
    background-color: #1e4b80;
    color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    border-color: aliceblue;
    border: 3px solid;
}

.submit-button:hover {
    background-color: white;
    color: #1e4b80;
}

.submit-button:active {
    transform: translateY(5px);
}

/* This fieldset wraps around the content of the order form */
#bookorder-form>fieldset {
    border: 2px groove;
    margin: 10px;
    padding: 10px;
    background-color: #0d4f7a;
    display: block;
}
/* The styles for the fieldset that wraps around the content of the order form */
#bookorder-form>fieldset>legend {
    background-color: #5a5b5c;
    color: white;
    padding: 10px;
    border-style: groove;
    border: 5px solid #56677b;
    border-radius: 10px;

    text-transform: uppercase;
}

/* FOOTER */
footer {
    background-color: rgb(92, 86, 86);
    color: white;
    height: 100px;
    line-height: 20px;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
}

footer h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: x-large;
    text-align: center;
    margin: 5px 0 15px 0;
}

footer h4 {
    font-family: 'Kaushan Script', cursive;
    font-size: large;
    text-align: center;
    margin: 5px;
}

footer ul {
    list-style-type: none;
    direction: rtl;
}

footer li {
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    font-size: 10px;
    direction: ltr;
}

footer li a {
    text-decoration: none;
    color: white;
}

/* media query for TABLETS */

@media only screen and (min-width: 640px) {

    /* HEADER */
    h1 {
        margin: 0 10px;
        font-size: 30px;
        text-align: center;
        float: none;
    }

    
    #nav-bar {
        float: none;
    }

    #navigation-menu {
        clear: none;
    }

    a.nav-link {
        width: 80%;
        margin: 10px;
        min-height: auto;
        height: 80%;
    }

    a.nav-link:hover {
        background-color: gray;
    }

    a.nav-link:active {
        transform: translateY(5px);
    }

    /* ################# HOME PAGE - index.html ################# */

    /* BIOGRAPHY SECTION */
    #biography-containter {
        background-color: #fafae1; 
        height: 400px;
    }

    .biography-text {
        height: 350px;
        margin: 0;
    }
    
    .biography-text p {
        padding: 10px 30px;
    }
    .portrait {        
        height: 372px;
        width: 296px;
        float:left;
    }

    
    /* PHILOSPHY ARTICLE */
    #philosophy {
        background-color: #1e4b80;
        clear: left;
        height: auto;
    }

    #quotes-container {
        width: calc(100% - 510px);
    }

    #video-1 {
        float: right;
        width: 480px;
    }

    /* ################# MOVIES PAGE - movies.html ################# */
    #movie-box {
        display: block;
    }

    /* ################# MARTIAL ARTS PAGE - mma.html ################# */
    #impact-on-mma h1,
    #jeet-kune-do-article h1 {
        font-size: x-large;
    }


    #impact-on-mma p,
    #jeet-kune-do-article p {
        padding: 10px 30px;
    }

    /* ################# BOOKS PAGE- books.html ################# */
    .book-showcase {
        overflow: hidden;
    }

    #bookorder-form {
        width: 640px;
        margin: 0 auto;
    }



    #bookorder-form label {
        width: 300px;
        display: inline-block;
    }

    /* FOOTER */
    
    footer {        
        height: 120px;
        line-height: 30px;
        padding: 20px 0;
        clear: both;
    }
    
    footer h3 {
        font-size: xx-large;
        margin: 10px 0 30px 0;
    }
    
    footer h4 {
        font-size: x-large;
        margin: 10px;
    }
        
    footer li {
        font-size: 20px;
    }
    
}

/* media query for DESKTOPS */
@media screen and (min-width: 1200px) {
    body {
        width: 80vw;
        margin: 0 auto;
        background-color: #dde6f1;
        background-size: 80vw;
    }

    /* HEADER */
    h1 {
        margin: 0 10px;
        font-size: 30px;        
    }

    a.nav-link {
        width: 80%;
    }

    /* ################# MARTIAL ARTS PAGE - mma.html ################# */
    #impact-on-mma h1,
    #jeet-kune-do-article h1 {
        font-size: xx-large;
    }

    #impact-on-mma p,
    #jeet-kune-do-article p {
        padding: 10px 50px;
    }

    #ying-yang-symbol-left {
        margin-left: 50px;
    }

    #ying-yang-symbol-right {
        margin-right: 50px;
    }

    /* ################# BOOKS PAGE - books.html ################# */
    #bookorder-form {
        width: 940px;
        line-height: 40px;
        margin: 0 auto;
    }

    #bookorder-form label {
        width: 400px;
        display: inline-block;
        margin-left: 40px;
    }

    .input-field {
        width: 400px;
    }

    .submit-button {
        width: 400px;
    }

    /*     FOOTER       */
     footer li {
        font-size: 30px;
    }

}