@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Kaushan+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    position: sticky;
    top: 5px;
    width: 100%;
}

#title-bar {
    background-color: #f2f29b;
    overflow: hidden;
}

br {
    clear: both;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: x-large;
    margin: 0 10px;
    float: left;
}

#nav-bar {
    display: block;
    width: 100vw;
}

#navigation-menu {
    list-style-type: none;
    direction: rtl;
}

a.nav-link {
    display: block;
    float: left;

    text-align: center;
    color: white;
    background-color: darkblue;
    text-decoration: none;

    height: 80%;
    margin: 5px;
}

a.nav-link:hover {
    background-color: gray;
}

a.nav-link:active {
    transform: translateY(5px);
}

a.open {
    text-decoration: underline;
}

/* index.html - introduction article */
.portrait-heading {
    height: 30vh;
    width: auto;
    float: none;
    background-color: #c0c0c0;
    text-align: center;
}

.portrait-heading img {
    height: 30vh;
    width: auto;
    margin: auto;
}

.portrait-text {
    border: 1px solid yellow;
    height: 30vh;
    background-color: #fafae1;
}

.portrait-text>p {

    flex: 1 1 auto;
    height: 100%;
}

/* phylosphy section */
#philosophy {
    background-color: #1e4b80;
    clear: left;
    height: auto;
    color: lightyellow;
    font-family: 'Kalam', cursive;
}

#philosophy h2 {
    font-size: 33px;
}
#philosophy p {
    flex: 1 1 auto;
    height: 100%;
    font-size: large;
}

/* footer */
footer {
    background-color: rgb(92, 86, 86);
    color: white;
    height: 5vh;
}

/* media query for tablets */

@media only screen and (min-width: 640px) {
    #nav-bar {
        width: 70vw;
    }
    .portrait-heading {
        height: 30vh;
        width: auto;
        float: left;
        clear: left;
        background-color: #c0c0c0;
    }

    #portrait-text {
        display: flex;
        flex: 1 1 auto;
        height: 15%;
        float: left;
    }

    a.nav-link {
        display: block;
        text-align: center;
        float: left;
        background-color: darkblue;
        color: white;
        width: 17%;
        margin: 10px;
        height: 80%;
    }

    a.nav-link:hover {
        background-color: gray;
    }

    a.nav-link:active {
        transform: translateY(5px);
    }

    #philosophy {
        background-color: #1e4b80;
        clear: left;
        height: 50vh;
    }

    #video-1 {
        float: right;
        clear: both;
    }

    footer {
        clear: both;
    }
}

/* media query for desktops */
@media screen and (min-width: 1200px) {
    body {
        width: 70vw;
        margin: 0 auto;
    }

    a.nav-link {
        width: 20%;
    }
    
}